.btn1{
    width: 100px;
    height: 100px;
}


.btn2{
    width: 100px;
    height: 100px;
}


.btn3{
    width: 100px;
    height: 100px;
}


.btn4{
    width: 100px;
    height: 100px;
}


.btn5{
    width: 100px;
    height: 100px;
}


.btn6{
    width: 100px;
    height: 100px;
}


.btn7{
    width: 100px;
    height: 100px;
}


.btn8{
    width: 100px;
    height: 100px;
}


.btn9{
    width: 100px;
    height: 100px;
}


.btn10{
    width: 100px;
    height: 100px;
}
