.btn1{
    width: 100px;
    height: 100px;
}

.div1{
    display: none;
}

.div1.active{
    display: block;
}


.btn2{
    width: 100px;
    height: 100px;
}

.p2{
    display: none;
}

.p2.active{
    display: block;
}


.btn3{
    width: 100px;
    height: 100px;
}

.img3{
    display: none;
}

.img3.active{
    display: block;
}


.btn4{
    width: 100px;
    height: 100px;
}

.ul4{
    display: none;
}

.ul4.active{
    display: block;
}


.btn5{
    width: 100px;
    height: 100px;
}

.li5{
    display: none;
}

.li5.active{
    display: block;
}


.btn6{
    width: 100px;
    height: 100px;
}


.btn7{
    width: 100px;
    height: 100px;
}


.btn8{
    width: 100px;
    height: 100px;
}


.btn9{
    width: 100px;
    height: 100px;
}

.h19{
    display: none;
}

.h19.active{
    display: block;
}


.btn10{
    width: 100px;
    height: 100px;
}

.span10{
    display: none;
}

.span10.active{
    display: block;
}